.code-block-content {
  width: 60vw;
  min-height: 35vh;
  max-height: 35vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 0.5px solid #00000052;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.17);
}
